* {
    box-sizing: border-box;
}
html, body, #root {
    height: 100%;
}
body {
    background-color: white;
    font-family: Avenir;
}

/* Base container of the whole app */
#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}
h1 {
    color: #007bff;
}

#header {
    display: flex;
    border-bottom: 0.1ch solid darkgray;
    border-radius: 1ch;
    justify-content: space-between;
    padding: 0.5rem;
}
#content {
    display: flex;
    border-top: 0.1ch solid darkgray;
    border-bottom: 0.1ch solid darkgray;
    border-radius: 1ch;
    justify-content: space-between;
    flex: 1;
    padding: 1rem;
    overflow-y: hidden;
    overflow-y: auto;
}
#footer {
    display: flex;
    border-top: 0.1ch solid darkgray;
    border-radius: 1ch;
    justify-content: flex-end;
    padding: 1rem;
}
.hover-scale { 
    transition: all .5s ease;
 }
.hover-scale:hover { transform: scale(1.2); }
.task {
    border-bottom: 0.1ch solid darkgray;
    padding: 1rem;
    width: 100%;
}
.task-text {
    cursor: pointer;
    font-size: 2rem;
}
.fa-check-circle, .fa-circle-o {
    color:#007bff;
}